# Ignore environment variables (DO NOT expose secrets)
.env

# Composer dependencies (if you want to rebuild in container only)
vendor/

# OS-specific files (especially from macOS)
.DS_Store
__MACOSX/

# Editor/IDE configs
.vscode/
.idea/

# Log files and temp data
*.log
*.tmp
*.swp

# Node modules (if JS packages are used)
node_modules/

# Docker
*.pid
*.sock

# Ignore Docker build artifacts (optional)
*.tar
*.zip

# Git
.gitignore

# Optional: PHP built-in server cache
.phpunit.result.cache

# Optional: if using PHPUnit or coverage tools
coverage/


# Terraform state and backup files
terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.tfstate.backup

# Crash log
crash.log

# .terraform directory
.terraform/

# Override files (e.g., for local variables)
*.tfvars
*.tfvars.json

# macOS system files
.DS_Store

.terraform.lock.hcl
*.zip
start-output.json
stop-output.json


k8s_manifests/secrets.yaml
k8s_manifests/secrets.yaml
k8s_manifests/secret.yaml
