body {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  color: black;
}

.logo {
  :20px ;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.nav-items {
  padding-top: 15px;
}
