html {
  position: relative;
  min-height: 100%;
}

body {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  color: black;
  box-sizing: border-box;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 20px 0;
}

.nav-items {
  padding-top: 23px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: #000000;
  text-align: center;
  padding-left: 30px;
  text-decoration: none;
}

li a:hover {
  color: #f53132;
}

.register {
  padding: 20px 10px;
}
.login {
  border: 0;
  margin-right: 20px;
  padding: 20px 20px 10px 20px;
  background-color: white;
  cursor: pointer;
  color: #000000;
}

.signup {
  padding: 10px 20px 10px 20px;
  border: 0;
  border-radius: 20px;
  background-color: #f53132;
  color: white;
  cursor: pointer;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  background-image: url("../images/main_hero_image.jpg");
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  background-size: cover;
  /* background-size: 100%; */
  border-radius: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.hero-text {
  display: block;
  height: 100%;
  width: fit-content;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 0 20px 10px 20px;
}

.hero-signup-link {
  background-color: transparent;
  color: white !important;
  border: 0;
  cursor: pointer;
}

.subscribe-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  background-color: #eb4936;
  border-radius: 20px;
  height: 200px;
  margin: 50px 0 50px;
}

.subscribe-section h3 {
  color: white;
  margin-right: 20px;
}

.subscribe-section form {
  display: flex;
  align-items: center;
}

.subscribe-section input[type="email"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  width: 250px;
}

.subscribe-section input[type="button"] {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: rgb(234, 179, 5);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.subscribe-section input[type="button"]:hover {
  background-color: #e0b403;
}

/* Signup styling */
.signup-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recipe-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
}
.recipe-card {
  border: 1px solid #ccc;
  padding: 10px;
}
.recipe-card img {
  max-width: 100%;
  height: auto;
}

.footer-container {
  background-color: #f2f2f2;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  padding: 20px 0 20px 0;
}
