body {
  background-color: pink;
}

header {
  background-color: green;
}

main {
  background-color: blue;
}

.recipe-start {
  background-color: orange;
}
.recipe-display {
  background-color: brown;
}

aside {
  background-color: yellow;
}

article {
  background-color: purple;
}
footer {
  background-color: aqua;
}
